@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.tooltip {
  display: none;
  opacity: 0;
  position: absolute;

}

.has-tooltip:hover .tooltip {
  display: block;
  opacity: 1;
  top: -30px;
  z-index: 2;
}